<div class="navbar">
  <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
  <a [routerLink]="['informacion']" routerLinkActive="active">informacion</a>
  <a [routerLink]="['contactos']" routerLinkActive="active">Contactos</a>
</div>

