*{
  box-sizing: border-box;
}


.navbar {
  overflow: hidden;
  background-color: rgb(80, 75, 75);
  height: 2.5em; 
   
}

a {
  padding: .5em 2.8em;
  font-size: 1.5em;
  color: white;
  float: right;
}

  
.activate {
  background-color: #fff;
  color: black;

} 

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #111;
}
.active {
  background-color: #111;
  color: white;
}
  