.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #11475c;
  font-size: 1.30em;
}

.div {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.div {
  list-style: none;
}
li {

  margin: 3.2em 0;
}
  
a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em; 
  color: #FFF;
  display: block;
  transition: all ease-out 150ms;
  padding-left: 25px; 
}
  
a:hover {
  background-color: #654;
  color: black;
  padding-left: 25px;
}

.active {
  background-color: #04AA6D;
  color: White !important;
}
  